* {
  padding: 0;
  box-sizing: border-box;
  font-family: "lora", sans-serif;
}
.innerContainer {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  background-image: url(/Assets/questionbcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center calc(50% + 50%);
  pre-load: true;
}

.quizTitle {
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(46, 4, 40);
  padding: 30px 40px;
}

input {
  border: unset;
  font-size: 28px;
}

#quiz_form {
  padding: 40px;
  width: 700px;
  background-color: aqua;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #f7f7f7f7;
  box-shadow: 0 0 5px #888484;
  margin-bottom: 70px;
  transform: translateX(-50px);
  transform: translateY(30px);
}

.question {
  margin-bottom: 28px;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #655b5b;
  color: rgb(46, 4, 40);
}

#question {
  font-size: 20px;
}

p {
  margin-bottom: 20px;
}
label {
  display: flex;
  line-height: 60px;

  margin-left: 40px;
  gap: 20px;
}

@media (max-width: 767px) {
  .quizTitle {
    font-size: 20px;
    color: #fff;
  }

  #quiz_form {
    padding: 40px;
    width: 350px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #f7f7f7f7;
    box-shadow: 0 0 5px #888484;
    margin-bottom: 70px;
  }

  #question {
    font-size: 15px;
    /* text-align: left; */
  }
}
