* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lora", sans-serif;
}
.innerContainer {
  max-width: 1200px;
  margin: 0 auto;
}

/* CSS FOR THE MAINQUIZPAGE */
#quiz-container {
  border: 1px solid red;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(46, 4, 40);
  border: 1px solid black;
  padding: 30px 0;
}
h1 {
  display: flex;
  /* margin-right: 20px; */
  justify-content: space-between;
}

.timer {
  margin-left: 27%;
}

.quizTitle {
  margin-left: 20%;
}

input {
  border: unset;
  font-size: 28px;
}

#quiz_form {
  /* border: 1px solid green; */
  padding: 40px;
  width: 100%;
  border-radius: 5px;
  /* margin: 0 auto; */
  background-color: #f7f7f7f7;
  box-shadow: 0 0 5px #888484;
  margin-bottom: 70px;
}

.question {
  margin-bottom: 28px;
  border-radius: 5px;
  font-size: 30px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px #655b5b;
  color: rgb(46, 4, 40);
}

p {
  margin-bottom: 20px;
}
label {
  display: flex;
  line-height: 60px;

  margin-left: 40px;
  gap: 20px;
}
